* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom cursor */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #67d0f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c3ebfe;
}
