* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Images */
header img {
  width: 54px;
  height: 54px;
  border: 4px solid var(--color2);
  border-radius: 50%;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color4);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  position: fixed;
  width: 100%;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navigation ul li a {
  color: var(--color1);
  font-weight: 500;
}

.navigation ul li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--color2);
  transition: width 0.7s ease-in-out;
}

.navigation ul li a:hover::after {
  width: 100%;
}

/* Header Links Alt */
header .other-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

header .other-links a {
  color: var(--color1);
  border: 1px solid var(--color1);
  border-radius: 10px;
  padding: 8px;
  transition: background 0.7s ease-in-out;
}

/* Footer */
footer {
  text-align: center;
  color: #fff;
}

/* Custom cursor */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #67d0f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c3ebfe;
}

@media screen and (max-width: 768px) {

  /* Menu Button */
  .menu-button {
    display: block;
  }

  /* Header */
  header {
    position: relative;
    justify-content: space-between;
  }

  /* Navigation */
  header .navigation {
    position: absolute;
    top: 0;
    right: 0;

    height: 100vh;
    background-color: #c3ebfe;
    padding: 5rem 2rem;
    transform: translate(100%);
    transition: transform 0.7s ease;
    z-index: 99;
  }

  header .navigation ul {
    flex-direction: column;
  }

  header .navigation ul a,
  header .other-links a {
    color: #000;
    font-weight: 700;
    border-color: #000;
  }

  /* Other Links */
  header .other-links {
    display: none;
  }

  header .menu-button {
    padding: 0 1rem;
    border-radius: 4px;
    border: none;
    font-size: 2rem;
    background-color: #67d0f5;
    color: #000;
    border: 1px solid #000;
  }

  header .navigation .closeMenu {
    position: absolute;
    top: 20px;
    right: 20px;

    padding-bottom: 5px;
  }

  footer {
    margin-top: 5rem;
  }

  @media (max-width: 440px) {
    footer {
      margin-top: 11rem;
    }
  }

}